* {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: beige;
}

.app {
  display: flex;
  justify-content: space-between;
  padding:2%;
}

@media (max-width: 800px) {
  .app {
    flex-direction: column;
  }
}

.appLeft {
  flex: 0.85;
}

.Cards {
  display: flex;
  justify-content: space-between;

}